---
layout: default
title: projects
---

<h1>Projects</h1>
<p>click on each project to learn more!</p>

<div class="projects-list">
  {% assign sorted_projects = site.projects | sort: "date" | reverse %}
  {% for project in sorted_projects %}
    <div class="project-card">
      <div class="project-header" onclick="this.parentElement.classList.toggle('open')">
        
        <!-- Left stacked content -->
        <div class="project-info">
          <span class="project-date">{{ project.display_date }}</span>
          <span class="project-title">{{ project.title }}</span>
          <span class="project-tech">{{ project.tech }}</span>
        </div>

        <!-- GitHub icon on the right -->
        {% if project.github %}
          <a href="{{ project.github }}" target="_blank" class="github-icon">
            <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 .297c-6.63 0-12 5.373-12 12 ..."/>
            </svg>
          </a>
        {% endif %}
      </div>

      <div class="project-body">
        {{ project.content | markdownify }}
      </div>
    </div>
  {% endfor %}
</div>
