<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% seo %}
    <link rel="icon" type="image/png" href="/assets/star.png">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include head-custom.html %}
  </head>
  <body>
    {% include navigation.html %}

    <main class="page-wrap">
      {{ content }}
    </main>

    <footer class="site-footer">
      <p>made with <span style="color: var(--rose);">&hearts;</span> by Srinithi Mohan &copy; 2026</p>
    </footer>
  </body>
</html>
